<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="5">
	<groups>
		<run>
			<include name="Demo File" description=""></include>
			<exclude name=""></exclude>
		</run></groups>
	<test thread-count="5" name="Test">
		<classes>
			<class name="Proverbial.NewTest"></class>
		</classes>
	</test><!-- Test --><parameter name="inputA" value="UserValue"></parameter>
	<parameter name="inputB" value=""></parameter>
	<test name="">
		<classes>
			<class name="Provebial.SecondClass"></class></classes></test>
</suite><!-- Suite -->
